<!-- <div id="contentRes" class="container-fluid">
    <div class="row col-lg-3 col-md-6 col-sm-12 my-5"><img id="" src="https://cdn.shopify.com/s/files/1/0230/2239/articles/Snowboard_Trick_Terminology_1024x1024.jpg?v=1556396922"><div class=""><h5>Hello</h5><ul class=""><li></li></ul></div><button class="booking" type="submit">Book now</button></div> 
    <div class="row col-lg-3 col-md-6 col-sm-12 my-5"><img id="" src="https://cdn.shopify.com/s/files/1/0230/2239/articles/Snowboard_Trick_Terminology_1024x1024.jpg?v=1556396922"><div class=""><h5>Hello</h5><ul class=""><li></li></ul></div><button class="booking" type="submit">Book now</button></div>
    <div class="row col-lg-3 col-md-6 col-sm-12 my-5"><img id="" src="https://cdn.shopify.com/s/files/1/0230/2239/articles/Snowboard_Trick_Terminology_1024x1024.jpg?v=1556396922"><div class=""><h5>Hello</h5><ul class=""><li></li></ul></div><button class="booking" type="submit">Book now</button></div>
    <div class="row col-lg-3 col-md-6 col-sm-12 my-5"><img id="" src="https://cdn.shopify.com/s/files/1/0230/2239/articles/Snowboard_Trick_Terminology_1024x1024.jpg?v=1556396922"><div class=""><h5>Hello</h5><ul class=""><li></li></ul></div><button class="booking" type="submit">Book now</button></div> 
</div> -->

Hello
<!-- // class Resorts {
    //   name: string; 
    //   image: string; 
    //   description: string; 
    
    //   constructor(name:string, image: string, description:string){
    //     this.name = name
    //     this.image = image
    //     this.description = description
    //   }
    // }
    
    // var Resorts1 = new Resorts ("resort 1", "", "")
    // var Resorts2 = new Resorts ("", "", "")
    // var Resorts3 = new Resorts ("", "", "")
    // var Resorts4 = new Resorts ("", "", "")
    // var Resorts5 = new Resorts ("", "", "")
    // var Resorts6 = new Resorts ("", "", "")
    
    // let resortArr = []
    // resortArr.push(Resorts1,Resorts2,Resorts3,Resorts4,Resorts5,Resorts6)
    
    
    
    // for (let i in resortArr){
    //   document.getElementById('#contentRes').innerHTML += `<div class="row col-lg-4 col-md-6 col-sm-12 my-5"><img id="" src="${resortArr[i].image}"><div class=""><h5>${resortArr[i].name}</h5><ul class="zulangeliste"><li>${resortArr[i].description}</li></div><button class="booking" type="submit">Book now</button></div>`
    
    // } -->

   
    